%div.row
  %div.large-3.columns.left_body_menu
    %div.row
      %p What can I do on this page?

    %div.row
      = link_to 'Add your league', new_sport_league_path, class: 'button'

    %div.row
      = link_to 'Go Back', sports_path, class: 'button'
      (Because this page kinda sucks right now)
  %div.large-9.columns
    %h3
      = "Search the #{@sport.name.downcase} records."
    %div.logo_image
      = image_tag "#{@sport.name.downcase}-logo.png"

    - @sport.leagues.each do |league|
      %p
        = link_to "#{league.name}", sport_league_path(@sport, league)
