%p Let's cook up a league, shall we?

= form_for [@sport, @league] do |f|
  %p
    = f.label :name
    = f.text_area :name
  %p
    = f.select :sport_id, options_for_select(@sports_options)
  %p
    = f.label :espn_id
    = f.text_area :espn_id
  %p
    = f.submit
