.row
  .large-3.columns.left_body_menu
    .side_content
      %span What can I do here?
      %ul.side_options
        %li.side_option_line See the oldest leagues for each sport
        %li.side_option_line Check out all leagues for each sport
        %li.side_option_line Add a new league
        %li.side_option_line See which scoring formats
  .large-9.columns.content_box
    .row
    - @sports.each do |sport|
      .row.sport_options
        .small-2.columns.sport_images
          = image_tag "#{sport.name.downcase}-logo.png"
        .small-10.columns
          .small-7.columns.elders
            .row
              %span.elder_headers The Elder Leagues
            .row
              %ul
              - sport.leagues.each do |league|
                %li.elder_leagues
                  = link_to "#{league.name}", sport_league_path(sport, league), class: 'button'
          .small-2.columns.sports_buttons
            = link_to 'See all leagues', sport_leagues_path(sport), class: 'button'
          .small-3.columns.sports_buttons
            = link_to 'Add a new league', new_sport_league_path(sport), class: 'button'
    .row
      .medium-6.columns
        .row
          %span Supported league scoring formats:
        .row
          .small-4.columns.format_info
            .row.league_formats
              %span Baseball:
            .row.league_formats
              %span Basketball:
            .row.league_formats
              %span Football:
          .small-8.columns.format_info
            .row.league_formats
              .scoring_category Head-to-Head: Points
              .rules_links
                = link_to 'ESPN Standard', "http://games.espn.go.com/flb/resources/help/content?name=scoring-formats", target: '_blank'
            .row.league_formats
              .scoring_category Head-to-Head: Points
              .rules_links
                = link_to 'ESPN Standard', "http://games.espn.go.com/fba/resources/help/content?name=scoring-formats", target: '_blank'
            .row.league_formats
              .scoring_category Head To Head Standard Scoring
              .rules_links
                = link_to 'ESPN Standard', "http://games.espn.go.com/ffl/resources/help/content?name=scoring-formats", target: '_blank'
      .medium-6.columns
        .row
          %span Notes
        .row.notes_row
          .small-2.columns
          .small-8.columns
            %row.league_notes
              %p Active stats are currently under a bit of construction. They'll be up soon!
            %row.league_notes
              %p There is no limit to the number of teams in each league
            %row.league_notes
              %p The importer can only grab standings for one divison. Never fear, support for multiple divisions is on its way.
          .small-2.columns



