%p Add some records heyah

= form_for [@sport, @league, @record] do |f|
  %p
    = f.label :year
    = f.text_area :year
  %p
    = f.submit

%div
  You already have records for the following years:
  - @league_years.each do |year|
    %p
      = year
