%div.row
  %nav.top-bar
    %ul.title-area
    %div.login_section
      - if user_signed_in?
        Logged in as
        %strong.email_address= current_user.email
        = link_to 'Edit Profile', edit_user_registration_path
        |
        = link_to "Logout", destroy_user_session_path, method: :delete
      - else
        = link_to 'Login', new_user_session_path
        |
        = link_to 'Sign Up', new_user_registration_path
    %div.row.top_bar
      %p.notice
        = notice
      %p.alert
        = alert

    -# %nav.breadcrumbs
    -#   %div
    -#     = link_to 'Sports', sports_path
    -#   %div
    -#     = link_to 'Leagues', sport_leagues_path



